<div class="appReg">
    <div class="topLevelNavigation">
        <div class="intergratedEligibilitySystem">INTEGRATED ELIGIBILITY SYSTEM</div>
        <img class="usercircleIcon" alt="" src="UserCircle.png" />
        <img class="topLevelNavigationChild" alt="" src="Star 7.png" />
        <img class="topLevelNavigationItem" alt="" src="Star 8.png" />
        <img class="topLevelNavigationInner" alt="" src="Star 9.png" />
        <img class="listIcon" alt="" src="List.png" />
        <div class="topLevelTabs">
            <div class="sydneyHoelter">Sydney Hoelter</div>
        </div>
    </div>
    <div class="collapsedPanel">
        <div class="blueSeclection"></div>
        <div class="application">Application</div>
        <div class="home">Home</div>
        <div class="notices">Notices</div>
        <div class="dataCollection">Data Collection</div>
        <div class="eligibility">Eligibility</div>
        <div class="tasks">Tasks</div>
        <div class="unifiedSearch">Unified Search</div>
        <div class="automatedRenewal">Automated Renewal</div>
        <div class="current">Current</div>
        <div class="ilinx">ILINX</div>
        <div class="ievs">IEVS</div>
        <div class="admin">Admin</div>
        <img class="appRegIcon" alt="" src="App Reg.png" />
        <img class="dataCollectionIcon" alt="" src="Data Collection.png" />
        <img class="adminIcon" alt="" src="Admin.png" />
        <img class="ievsIcon" alt="" src="IEVS.png" />
        <img class="ilinxIcon" alt="" src="ILINX.png" />
        <img class="currentIcon" alt="" src="Current.png" />
        <img class="automatedRenewalIcon" alt="" src="Automated Renewal.png" />
        <img class="unifiedSearchIcon" alt="" src="Unified Search.png" />
        <img class="tasksIcon" alt="" src="Tasks.png" />
        <img class="noticesIcon" alt="" src="Notices.png" />
        <img class="eligibilityDeterminationIcon" alt="" src="Eligibility Determination.png" />
        <img class="vectorIcon" alt="" src="Vector.png" />
    </div>
    
    <div class="card">
        <div class="label3">Register Application</div>
        <div class="topNavigation">
            <div class="topLevelTabs1" [ngClass]="{'notSelected': primaryClicked}">
                <div class="applicantDetails">Applicant Details</div>
            </div>
            <div class="topLevelTabs2">
                <div class="primaryIndividual"  [ngClass]="{'selectedStep': primaryClicked}">Primary Individual</div>
            </div>
            <div class="topLevelTabs3">
                <div class="contact">Contact</div>
            </div>
            <div class="topLevelTabs4">
                <div class="contact">Household Members</div>
            </div>
            <div class="topLevelTabs5">
                <div class="contact">Finalize</div>
            </div>
        </div>
        <div class="cardChild"></div>
        <div class="label4">{{ searchPageDate }}</div>
    </div>
<mat-stepper linear #stepper>
  
 <mat-step [stepControl]="appDetailsGroup" >
            <form [formGroup]="appDetailsGroup">               
                 <div class="home1">Applicant Details</div> 
    <div class="main">
        <div class="inputFieldBase">
            <div class="inputWithLabel">
                <div class="label">Application Type</div>
                <div class="input">
                    <!-- <div class="content"></div> -->
                      <input for="applicationType" class="noBorderInputs" type="text" id="applicationType" name="applicationType" formControlName="applicationType" />
                    <img class="icon" alt="" src="/Icon.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="main1">        
        <div class="inputFieldBase">
            <div class="inputWithLabel">
                <div class="label">Program Type</div>
                <div class="input">
                    <!-- <div class="content"></div> -->
                      <input for="programType" class="noBorderInputs" type="text" id="programType" name="programType" formControlName="programType" />
                    <img class="icon" alt="" src="/Icon.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="main2">
        <div class="inputWithLabel">
            <div class="inputWithLabel">
                <div class="label">Application Date</div>
                <div class="input2">
                  <input for="applicationDate" class="noBorderInputs" type="date" id="applicationDate" name="applicationDate" formControlName="applicationDate" />
                </div>
            </div>
           
        </div>
    </div>
     <div class="button">
        <!-- <div class="buttonBase">
            <div class="text1">Next</div>            
        </div> -->
          <button type="button" id="next-button" class="buttonBase" mat-button matStepperNext (click)="primarySelect()"><span style="color: white;">Next</span></button>
    </div>
    <div class="button1">
        <!-- <div class="buttonBase1">
            <div class="text1">Close</div>
        </div> -->
         <button type="button" class="buttonBase1" (click)="goBack()"><span style="color: black;">Close</span></button>
    </div>
</form>
</mat-step>
<mat-step [stepControl]="primaryIndividualGroup">
   <div class="home1">Primary Individual</div> 
            <form [formGroup]="primaryIndividualGroup">               
                 <div class="inputFieldLarge">
                <div class="inputFieldBase">
                    <div class="inputWithLabel">
                        <div class="label2">First Name</div>
                        <div class="input">
                            <!-- <div class="content" /> -->
                             <input for="firstName" class="noBorderInputs" type="text" id="firstName" name="firstName" formControlName="firstName" />
                                <img class="icon" alt="" src="/Icon.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="inputFieldLarge1">
                <div class="inputFieldBase">
                    <div class="inputWithLabel">
                        <div class="label2">Last Name</div>
                        <div class="input">
                            <!-- <div class="content" /> -->
                             <input for="lastName" class="noBorderInputs" type="text" id="lastName" name="lastName" formControlName="lastName" />
                                <img class="icon" alt="" src="/Icon.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="inputFieldLarge2">
                <div class="inputFieldBase">
                    <div class="inputWithLabel">
                        <div class="label2">Title</div>
                        <div class="input">
                        <input for="title" class="noBorderInputs" type="text" id="title" name="title" formControlName="title" />
                        <!-- <mat-select formControlName="title">
                            <mat-option value="" disabled selected>Select an option</mat-option>
                            <mat-option *ngFor="let type of householdStatuses" [value]="type.code">
                                {{ type.description }}
                            </mat-option>
                        </mat-select> -->
                           <img class="icon" alt="" src="/Icon.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="inputFieldLarge3">
                <div class="inputFieldBase">
                    <div class="inputWithLabel">
                        <div class="label2">Middle Name</div>
                        <div class="input">
                         <input for="middleName" class="noBorderInputs" type="text" id="middleName" name="middleName" formControlName="middleName" />
                            <img class="icon" alt="" src="/Icon.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="inputFieldLarge4">
                <div class="inputFieldBase">
                    <div class="inputWithLabel">
                        <div class="label2">Suffix</div>
                        <div class="input">
                        <input for="suffix" class="noBorderInputs" type="text" id="suffix" name="suffix" formControlName="suffix" />
                        <!-- <mat-select formControlName="title">
                            <mat-option value="" disabled selected>Select an option</mat-option>
                            <mat-option *ngFor="let type of householdStatuses" [value]="type.code">
                                {{ type.description }}
                            </mat-option>
                        </mat-select> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="inputFieldLarge5">
                <div class="inputFieldBase">
                    <div class="inputWithLabel">
                        <div class="label2">Birth Last Name</div>
                        <div class="input">
                            <!-- <div class="content" /> -->
                             <input for="lastNameAtBirth" class="noBorderInputs" type="text" id="lastNameAtBirth" name="lastNameAtBirth" formControlName="lastNameAtBirth" />   
                                <img class="icon" alt="" src="/Icon.png" />
                        </div>
                    </div>
                </div>
            </div>
           <div class="main3">
                <div class="inputFieldBase6">
                    <div class="inputWithLabel">
                        <div class="label2">Date of Birth</div>
                        <div class="input">
                       <input for="dateOfBirth" class="noBorderInputs" type="date" id="dateOfBirth" name="dateOfBirth" formControlName="dateOfBirth" />
                        <!-- <div class="content" /> -->
                            <img class="icon" alt="" src="/Icon.png" />
                         </div>
                    </div>
                </div>
            </div>
            <img class="requiredIcon" alt="" src="Required.png" />
            <div class="main4">
                <div class="inputFieldBase">
                    <div class="inputWithLabel">
                        <div class="label2">Gender</div>
                        <div class="input">
                            <!-- <div class="content" /> -->
                        <mat-select formControlName="gender">
                            <mat-option value="" disabled selected>Select an option</mat-option>
                            <mat-option value="female">Female</mat-option>
                            <mat-option value="male">Male</mat-option>
                        </mat-select>
                        </div>
                          <img class="icon" alt="" src="/Icon.png" />
                    </div>
                </div>
            </div>
             <div class="button2">
       
          <button type="button" id="next-button" class="buttonBase2" mat-button matStepperNext><span style="color: white;">Next</span></button>
    </div>
    <div class="button3">
      
         <button type="button" class="buttonBase3" (click)="goBack()"><span style="color: black;">Back</span></button>
    </div>
            </form>
</mat-step>
</mat-stepper>

