<div class="appReg">
    <div class="topLevelNavigation">
        <div class="intergratedEligibilitySystem">INTEGRATED ELIGIBILITY SYSTEM</div>
        <img class="usercircleIcon" alt="" src="/UserCircle.png" />
        <img class="topLevelNavigationChild" alt="" src="/Star 7.png" />
        <img class="topLevelNavigationItem" alt="" src="/Star 8.png" />
        <img class="topLevelNavigationInner" alt="" src="/Star 9.png" />
       <img class="listIcon" alt="" src="/List.png" (click)="onListIconClick()" />
              <div class="topLevelTabs">
            <div class="sydneyHoelter">Sydney Hoelter</div>
        </div>
    </div>
    <div class="collapsedPanel"  [ngClass]="{'decreaseWidth': closeClicked}">
        <div [ngStyle]="noDisplay">
            <div class="blueSeclection"></div>
            <div class="application">Application</div>
            <div class="home">Home</div>
            <div class="notices">Notices</div>
            <div class="dataCollection">Data Collection</div>
            <div class="eligibility">Eligibility</div>
            <div class="tasks">Tasks</div>
            <div class="unifiedSearch">Unified Search</div>
            <div class="automatedRenewal">Automated Renewal</div>
            <div class="current">Current</div>
            <div class="ilinx">ILINX</div>
            <div class="ievs">IEVS</div>
            <div class="admin">Admin</div>
        </div>

        <img class="appRegIcon" alt="" src="App Reg.png" />
        <img class="dataCollectionIcon" alt="" src="Data Collection.png" />
        <img class="adminIcon" alt="" src="Admin.png" />
        <img class="ievsIcon" alt="" src="IEVS.png" />
        <img class="ilinxIcon" alt="" src="ILINX.png" />
        <img class="currentIcon" alt="" src="Current.png" />
        <img class="automatedRenewalIcon" alt="" src="Automated Renewal.png" />
        <img class="unifiedSearchIcon" alt="" src="Unified Search.png" />
        <img class="tasksIcon" alt="" src="Tasks.png" />
        <img class="noticesIcon" alt="" src="Notices.png" />
        <img class="eligibilityDeterminationIcon" alt="" src="Eligibility Determination.png" />
        <img class="vectorIcon" alt="" src="Vector.png" />
    </div>
    
    <div class="card" >
        <div class="label3">Register Application</div>
        <div class="topNavigation">
            <div class="topLevelTabs1">
                <div class="applicantDetails">Applicant Details</div>
            </div>
            <div class="topLevelTabs2">
                <div class="primaryIndividual" >Primary Individual</div>
            </div>
            <div class="topLevelTabs3">
                <div class="contact">Contact</div>
            </div>
            <div class="topLevelTabs4">
                <div class="contact">Household Members</div>
            </div>
            <div class="topLevelTabs5">
                <div class="contact">Finalize</div>
            </div>
        </div>      
       <div [class.cardChild]="this.applicantOn()"></div>
        <div [class.cardChild1]="this.primaryClicked()"></div>
        <div [class.cardChild2]="this.contactClicked()"></div>  
        <div [class.cardChild3]="this.householdClicked()"></div>
        <div [class.cardChild4]="this.finalizeClicked()"></div>
        <div class="label4">{{ searchPageDate }}</div>
    </div>
<mat-stepper linear #stepper>
  
 <mat-step [stepControl]="appDetailsGroup" >
            <form [formGroup]="appDetailsGroup">               
                 <div class="home1">Applicant Details</div> 
    <div class="main">
        <input type="hidden" for="id" id="id" name="id" formControlName="id" />
          <input type="hidden" for="appNumber" id="appNumber" name="appNumber" formControlName="appNumber" />
        <div class="inputFieldBase">
            <div class="inputWithLabel">
                <div >Application Type</div>
                <div class="input">
                       <mat-select formControlName="appType">
                            <mat-option value="" disabled selected>Select an option</mat-option>
                            <mat-option *ngFor="let type of appTypes" [value]="type.value">{{ type.value }}</mat-option>                       
                    </mat-select>
                </div>
            </div>
        </div>
    </div>
    <div class="main1">        
        <div class="inputFieldBase">
            <div class="inputWithLabel">
                <div >Program Type</div>
                <div class="input">
                    <mat-select formControlName="programType">
                        <mat-option value="" disabled selected>Select an option</mat-option>

                        <mat-option *ngFor="let prog of programTypes" [value]="prog.value">{{ prog.value }}</mat-option>
                    </mat-select>
                </div>
            </div>
        </div>
    </div>
    <div class="main2">
        <div class="inputWithLabel">
            <div class="inputWithLabel">
                <div >Application Date</div>
                <div class="input2">
                  <input for="applicationDate" class="noBorderInputs" type="date"
                   id="applicationDate" name="applicationDate" formControlName="applicationDate"  />
                </div>
            </div>
           
        </div>
    </div>
     <div class="button">
     
          <button type="button" id="next-button" class="buttonBase" mat-button matStepperNext 
          (click)="updateNavSelect()"><span style="color: white;">Next</span></button>
    </div>
    <div class="button1">
      
         <button type="button" class="buttonBase1" (click)="goBack()"><span style="color: black;">Close</span></button>
    </div>
</form>
</mat-step>
<mat-step [stepControl]="primaryIndividualGroup">
   <div class="home1">Primary Individual</div> 
            <form [formGroup]="primaryIndividualGroup">               
                 <div class="inputFieldLarge">
                <div class="inputFieldBase">
                    <div class="inputWithLabel">
                        <div class="label2">First Name</div>
                        <div class="input">
                            <!-- <div class="content" /> -->
                             <input for="firstName" class="noBorderInputs" type="text" id="firstName" name="firstName" formControlName="firstName" />
                               
                        </div>
                    </div>
                </div>
            </div>
            <div class="inputFieldLarge1">
                <div class="inputFieldBase">
                    <div class="inputWithLabel">
                        <div class="label2">Last Name</div>
                        <div class="input">
                            <!-- <div class="content" /> -->
                             <input for="lastName" class="noBorderInputs" type="text" id="lastName" name="lastName" formControlName="lastName" />
                             
                        </div>
                    </div>
                </div>
            </div>
            <div class="inputFieldLarge2">
                <div class="inputFieldBase">
                    <div class="inputWithLabel">
                        <div class="label2">Title</div>
                        <div class="input">
                        <mat-select formControlName="title">
                            <mat-option value="Mr">Mr</mat-option>
                            <mat-option value="Ms">Ms</mat-option>
                            <mat-option value="Dr">Dr</mat-option>
                            <mat-option value="Revd">Revd</mat-option>
                        </mat-select>                         
                        </div>
                    </div>
                </div>
            </div>
            <div class="inputFieldLarge3">
                <div class="inputFieldBase">
                    <div class="inputWithLabel">
                        <div class="label2">Middle Name</div>
                        <div class="input">
                         <input for="middleName" class="noBorderInputs" type="text" id="middleName" name="middleName" formControlName="middleName" />
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="inputFieldLarge4">
                <div class="inputFieldBase">
                    <div class="inputWithLabel">
                        <div class="label2">Suffix</div> 
                        <div class="input">
                         <!-- <mat-label>Suffix</mat-label> -->
                        <mat-select formControlName="suffix">
                           
                            <mat-option value="" disabled selected>Select an option</mat-option>
           
                            <mat-option *ngFor="let suffix of this.suffixes" [value]="suffix.value">{{ suffix.value }}</mat-option>
                        </mat-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inputFieldLarge5">
                <div class="inputFieldBase">
                    <div class="inputWithLabel">
                        <div class="label2">Birth Last Name</div>
                        <div class="input">
                            <!-- <div class="content" /> -->
                             <input for="lastNameAtBirth" class="noBorderInputs" type="text" id="lastNameAtBirth" name="lastNameAtBirth" formControlName="lastNameAtBirth" />   
                            
                        </div>
                    </div>
                </div>
            </div>
           <div class="main3">
                <div class="inputFieldBase6">
                    <div class="inputWithLabel">
                        <div class="label2">Date of Birth   <img class="requiredIcon" alt="" src="Required.png" /></div>
                        <div class="input">
                       <input for="dateOfBirth" class="noBorderInputs" type="date" id="dateOfBirth" name="dateOfBirth" formControlName="dateOfBirth" />
                       
                         </div>
                         <div *ngIf="primaryIndividualGroup.get('dateOfBirth')?.invalid && (primaryIndividualGroup.get('dateOfBirth')?.touched || primaryIndividualGroup.get('dateOfBirth')?.dirty)" class="error-message">
                            {{ getErrorMessage('dateOfBirth', primaryIndividualGroup) }}
                        </div> 
                    </div>
                </div>
            </div>
          
            <div class="main4">
                <div class="inputFieldBase">
                    <div class="inputWithLabel">
                        <div class="label2">Gender  <img class="requiredIcon" alt="" src="Required.png" /></div>  
                        <div class="input">                                              
                        <mat-select formControlName="gender">
                            <mat-option value="" disabled selected >Select an option</mat-option>
                            <mat-option value="F">Female</mat-option>
                            <mat-option value="M">Male</mat-option>
                        </mat-select>
                              </div>
                              <div *ngIf="primaryIndividualGroup.get('gender')?.invalid && (primaryIndividualGroup.get('gender')?.touched || primaryIndividualGroup.get('gender')?.dirty)" class="error-message">
                            {{ getErrorMessage('gender', primaryIndividualGroup) }}
                        </div>                      
                    </div>  
                </div>
            </div>
             <div class="button2">
          <button type="button" id="next-button" class="buttonBase2" mat-button matStepperNext 
          (click)="updateNavSelect1()"><span style="color: white;">Next</span></button>
    </div>
    <div class="button3">
      
         <button type="button" id="back-button" class="buttonBase3" mat-button matStepperPrevious
         (click)="updateNavSelect()"
         ><span style="color: black;">Back</span></button>
        
    </div>
            </form>
</mat-step>
<mat-step [stepControl]="contactGroup"> 
        <form [formGroup]="contactGroup">  
               <div class="home1">Contact</div> 
            <div class="inputFieldC">
                <div class="inputFieldBaseC">
                    <div class="inputFieldBaseC">
                        <div class="label2">Phone Number</div>
                        <div class="input">
                       <input for="phoneNumber" class="noBorderInputs" type="text" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber" />
                      </div>
                    </div>
                </div>
            </div>
            <div class="inputField1C">
                <div class="inputFieldBaseC">
                    <div class="inputFieldBaseC">
                        <div class="label2">Alternate Phone Number</div>
                        <div class="input">
                        <input for="altPhoneNumber" class="noBorderInputs" type="text" id="altPhoneNumber" name="altPhoneNumber" 
                        formControlName="altPhoneNumber" />
                        </div>
                    </div>
                  
                </div>
            </div>
            <div class="inputField2C">
                <div class="inputFieldBase2C">
                    <div class="inputWithLabel2">
                        <div class="label2">Email</div>
                        <div class="input">
                      <input for="email" class="noBorderInputs" type="email" id="email" name="email" formControlName="email" />
                       </div>
                    </div>
                </div>
            </div>
            <div class="mainC">
                <div class="inputFieldBase2C">
                    <div class="inputWithLabel2">
                        <div class="label2">Phone Number Type</div>
                          <div class="input">
                        <mat-select formControlName="phoneType">
                            <mat-option value="" disabled selected>Select an option</mat-option>
                           <mat-option value="cell">Cell</mat-option>
                            <mat-option value="landLine">Landline</mat-option>  
                            <mat-option value="office">Office</mat-option>
                        </mat-select>
                           </div>
                    </div>
                </div>
            </div>
            <div class="main1C">
                <div class="inputFieldBase2C">
                    <div class="inputWithLabel2">
                        <div class="label2">Phone Number Type</div>
                          <div class="input">
                          <mat-select formControlName="phoneType">
                            <mat-option value="" disabled selected>Select an option</mat-option>
                            <mat-option value="cell">Cell</mat-option>
                            <mat-option value="landLine">Landline</mat-option>  
                            <mat-option value="office">Office</mat-option>
                        </mat-select>
                           </div>
                    </div>
                </div>
            </div>
            <div class="inputFieldLarge2C">
                <div class="inputFieldBase2C">
                    <div class="inputWithLabel2">
                        <div class="label2">Street 1<img class="requiredIcon" alt="" src="Required.png" /></div>
                          <div class="input">
                        <input for="street1" class="noBorderInputs" type="text" id="street1" name="street1" formControlName="street1" />
                    </div>
                    <div *ngIf="contactGroup.get('street1')?.invalid && (contactGroup.get('street1')?.touched || contactGroup.get('street1')?.dirty)" class="error-message">
                            {{ getErrorMessage('street1', contactGroup) }}
                        </div> 
                    </div>
                </div>
            </div>
            <div class="inputFieldLargeC">
                <div class="inputFieldBase2C">
                    <div class="inputWithLabel2">
                        <div class="label2">Street 2</div>
                          <div class="input">
                        <input for="street2" class="noBorderInputs" type="text" id="street2" name="street2" formControlName="street2" />
                    </div>  
                    </div>
                </div>
            </div>
            <div class="main2C">
                <div class="inputFieldBase2">
                    <div class="inputWithLabel2">
                        <div class="label2">Zip<img class="requiredIcon" alt="" src="Required.png" /></div>
                          <div class="input">
                        <input for="zip" class="noBorderInputs" type="text" id="zip" name="zip" formControlName="zip" />
                          </div>
                          <div *ngIf="contactGroup.get('zip')?.invalid && (contactGroup.get('zip')?.touched || contactGroup.get('zip')?.dirty)" class="error-message">
                            {{ getErrorMessage('zip', contactGroup) }}
                        </div> 
                    </div>
                </div>
            </div>
            <div class="inputFieldLarge3C">
                <div class="inputFieldBase2C">
                    <div class="inputWithLabel2">
                        <div class="label2">City<img class="requiredIcon" alt="" src="Required.png" /></div>
                          <div class="input">
                      <input for="city" class="noBorderInputs" type="text" id="city" name="city" formControlName="city" />
                          </div>
                          <div *ngIf="contactGroup.get('city')?.invalid && (contactGroup.get('city')?.touched || contactGroup.get('city')?.dirty)" class="error-message">
                            {{ getErrorMessage('city', contactGroup) }}
                        </div> 
                </div>
            </div>
            </div>  
            <div class="inputFieldLarge1C">
                <div class="inputFieldBase2C">
                    <div class="inputWithLabel2">
                        <div class="label2">Country<img class="requiredIcon" alt="" src="Required.png" /></div>
                          <div class="input">
                    
                        <mat-select formControlName="country">
                            <mat-option value="" disabled selected >Select an option</mat-option>
                            <mat-option value="United States">United States</mat-option>
                            <mat-option value="Australia">Australia</mat-option>
                        </mat-select>
                          </div>
                          <div *ngIf="contactGroup.get('country')?.invalid && (contactGroup.get('country')?.touched || contactGroup.get('country')?.dirty)" class="error-message">
                            {{ getErrorMessage('country', contactGroup) }}
                        </div> 
                    </div>
                </div>
            </div>
            <div class="inputFieldLarge5C">
                <div class="inputFieldBase4C">
                    <div class="inputWithLabel2">
                        <div class="label2">State<img class="requiredIcon" alt="" src="Required.png" /></div>
                          <div class="input">
                         <mat-select formControlName="state">
                            <mat-option value="" disabled selected>Select an option</mat-option>
                            <mat-option *ngFor="let state of states" [value]="state.code">
                                 {{ state.name }}
                            </mat-option>
                        </mat-select>
                          </div>
                          <div *ngIf="contactGroup.get('state')?.invalid && (contactGroup.get('state')?.touched || contactGroup.get('state')?.dirty)" class="error-message">
                            {{ getErrorMessage('state', contactGroup) }}
                            </div> 
                    </div>
                </div>
            </div>
            <div class="button2">
            <button type="button" id="next-button" class="buttonBase2" mat-button matStepperNext 
            (click)="updateNavSelect2()"><span style="color: white;">Next</span></button>
            </div>
            <div class="button3">
            <button type="button" id="back-button" class="buttonBase3" mat-button matStepperPrevious
            (click)="updateNavSelect1()"
            ><span style="color: black;">Back</span></button>
            </div>
        </form>
</mat-step>

<mat-step [stepControl]="householdMembersGroup">
    <div class="home1">Household Members</div> 
    <form [formGroup]="householdMembersGroup">        ';li'
                <div class="inputFieldLarge2C">
                    <div class="inputWithLabel2C">
                        <div class="label2">Are there additional household members? <img class="requiredIcon" alt="" src="Required.png" /></div>
                        <div class="input">                         
                        <mat-select formControlName="householdMembers">
                            <mat-option value="" disabled selected  >Select an option</mat-option>
                            <mat-option value="Y">Yes</mat-option>
                            <mat-option value="N">No</mat-option>
                        </mat-select>
                        </div>
                        <div *ngIf="householdMembersGroup.get('householdMembers')?.invalid && (householdMembersGroup.get('householdMembers')?.touched || householdMembersGroup.get('householdMembers')?.dirty)" class="error-message">
                            {{ getErrorMessage('householdMembers', householdMembersGroup) }}
                        </div> 
                    </div>
                </div>
          
        <div class="button2">
            <button type="button" id="next-button" class="buttonBase2" mat-button matStepperNext 
            (click)="updateNavSelect3()"><span style="color: white;">Next</span></button>
        </div>
        <div class="button3">
            <button type="button" id="back-button" class="buttonBase3" mat-button matStepperPrevious
            (click)="updateNavSelect2()"
            ><span style="color: black;">Back</span></button>
        </div>
    </form>
</mat-step>

<mat-step [stepControl]="finalizeGroup">
    <div class="home1">Finalize</div> 
    
    <form [formGroup]="finalizeGroup"> 
      
                <div class="inputFieldLarge2C">

                    
                          @if(successfulSubmission) {
       <div class="label2"> 
        <div style="color: green; font-size: large;" >
            <p>Application has been successfully submitted!</p>
        </div>
    </div>
     } 

                    <div class="inputWithLabel2C">
                        <div class="label2"> Office &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<img class="requiredIcon" alt="required field" src="Required.png" /> </div>

                       <div class="input">                        
                        <mat-select formControlName="office" [disabled]="this.successfulSubmission"  >
                            <mat-option value="" disabled selected>Select an office</mat-option>
                            <mat-option value="Anchorage">Anchorage</mat-option>
                            <mat-option value="Fairbanks">Fairbanks</mat-option>
                            <mat-option value="Juneau">Juneau</mat-option>
                        </mat-select>
                        </div>
                        <div *ngIf="finalizeGroup.get('office')?.invalid && (finalizeGroup.get('office')?.touched || finalizeGroup.get('office')?.dirty)" class="error-message">
                            {{ getErrorMessage('office', finalizeGroup) }}
                        </div>  
                    </div>
                </div>
                  
      <div class="button2">
            <button type="submit" id="next-button" class="buttonBase2" [ngClass]="{'clicked': successfulSubmission}" mat-button (click)="onSubmit(); toggleColor()" name="submitButton"  [disabled]="this.successfulSubmission" >
                <span style="color: white;">Submit</span></button>
            </div>
            
            <div class="button3"> 
            <button type="button" id="close-button" class="buttonBase3" (click)="goBack()"><span style="color: black;">Close</span></button>
            </div>
    </form>
</mat-step>

</mat-stepper>

</div>