<main>

    <div class="appReg1">
            <div class="topLevelNavigation">
                <div class="intergratedEligibilitySystem">INTERGRATED ELIGIBILITY SYSTEM</div>
                <img class="usercircleIcon" alt="" src="/UserCircle.png" />
                <img class="topLevelNavigationChild" alt="" src="/Star 7.png" />
                <img class="topLevelNavigationItem" alt="" src="/Star 8.png" />
                <img class="topLevelNavigationInner" alt="" src="/Star 9.png" />
                <div class="topLevelTabs">
                    <div class="sydneyHoelter">Sydney Hoelter</div>
                </div>
            </div>
            <div class="label">May 20, 2025 3:56 PM</div>
            <div class="label1">Home</div>
            <div class="card">
                <img class="tasksIcon" alt="" src="/Tasks.png" />
                <div class="home">Tasks</div>
                <img class="arrowrightIcon" alt="" src="/ArrowRight.png" />
            </div>
            <div class="card1">
                <img class="tasksIcon" alt="" src="/Current.png" />
                <div class="home">Current</div>
                <img class="arrowrightIcon1" alt="" src="/ArrowRight.png" />
            </div>
            <div class="card2">
                <img class="tasksIcon" alt="" src="/App Reg.png" />
                <div class="home">Application Registration</div>
                <img class="arrowrightIcon2" alt="" src="/ArrowRight.png" />
            </div>
            <div class="card3">
                <img class="tasksIcon" alt="" src="/Data Collection.png" />
                <div class="home">Data Collection</div>
                <img class="arrowrightIcon1" alt="" src="/ArrowRight.png" />
            </div>
            <div class="card4">
                <img class="tasksIcon" alt="" src="/Eligibility Determination.png" />
                <div class="home">Eligibility Determination</div>
                <img class="arrowrightIcon2" alt="" src="/ArrowRight.png" />
            </div>
            <div class="card5">
                <img class="tasksIcon" alt="" src="/Notices.png" />
                <div class="home">Notices</div>
                <img class="arrowrightIcon1" alt="" src="/ArrowRight.png" />
            </div>
            <div class="card6">
                <img class="tasksIcon" alt="" src="/Unified Search.png" />
                <div class="home">Unified Search</div>
                <img class="arrowrightIcon2" alt="" src="/ArrowRight.png" />
            </div>
            <div class="card7">
                <img class="tasksIcon" alt="" src="/Automated Renewal.png" />
                <div class="home">Automated Renewals</div>
                <img class="arrowrightIcon1" alt="" src="/ArrowRight.png" />
            </div>
            <div class="card8">
                <img class="tasksIcon" alt="" src="/ILINX.png" />
                <div class="home">ILINX</div>
                <img class="arrowrightIcon2" alt="" src="/ArrowRight.png" />
            </div>
            <div class="card9">
                <img class="tasksIcon" alt="" src="/IEVS.png" />
                <div class="home">IEVS</div>
                <img class="arrowrightIcon1" alt="" src="/ArrowRight.png" />
            </div>
            <div class="card10">
                <img class="tasksIcon" alt="" src="/Admin.png" />
                <div class="home">Admin</div>
                <img class="arrowrightIcon2" alt="" src="/ArrowRight.png" />
            </div>
        </div>
</main>
<router-outlet />
